body {
    background-image: url('../imgs/fundoLogin.jpg');
    background-size: cover;
    background-color: #567d5f;
    color: #333;
}
#login-section {
    background-color: #6e9b77;
    padding: 20px;
}
#login-section h2 {
    color: #f8f9fa;
}
.form-label-text, .form-check-label {
    color: #f8f9fa;
}
.alert {
    width: 100%;
    margin-bottom: 20px;
}